@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "PPNeueBit"; 
    src: url("../public/PPNeueBit-Bold.otf"); 
} 

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * roc-grotesk:
 *   - http://typekit.com/eulas/00000000000000007735b7bc
 *   - http://typekit.com/eulas/00000000000000007735b7c0
 *   - http://typekit.com/eulas/00000000000000007735b7c3
 *   - http://typekit.com/eulas/00000000000000007735b7c5
 *   - http://typekit.com/eulas/00000000000000007735b7c8
 *   - http://typekit.com/eulas/00000000000000007735b7cc
 *   - http://typekit.com/eulas/00000000000000007735b7d0
 *   - http://typekit.com/eulas/00000000000000007735b7da
 * roc-grotesk-variable:
 *   - http://typekit.com/eulas/0000000000000000774b970f
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-06-30 13:45:26 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=alf7adh&ht=tk&f=41077.41078.41097.41098.41108.41109.41110.41112.51571&a=220424588&app=typekit&e=css");



@font-face {
font-family:"roc-grotesk";
src:url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}


@font-face {
font-family:"roc-grotesk";
src:url("https://use.typekit.net/af/be643d/00000000000000007735b7c5/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/be643d/00000000000000007735b7c5/30/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/be643d/00000000000000007735b7c5/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}



@font-face {
font-family:"roc-grotesk";
src:url("https://use.typekit.net/af/9ef671/00000000000000007735b7cc/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/9ef671/00000000000000007735b7cc/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/9ef671/00000000000000007735b7cc/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}


@font-face {
font-family:"roc-grotesk";
src:url("https://use.typekit.net/af/b8039d/00000000000000007735b7da/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/b8039d/00000000000000007735b7da/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/b8039d/00000000000000007735b7da/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"roc-grotesk-variable";
src:url("https://use.typekit.net/af/2e2b50/0000000000000000774b970f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2e2b50/0000000000000000774b970f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2e2b50/0000000000000000774b970f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

/* @import url("https://use.typekit.net/alf7adh.css"); */


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-blur {
  background-color: rgba(255, 255, 255, 0.05); /* Couleur de fond avec transparence */
  backdrop-filter: blur(30px); /* Applique un flou de 30px au contenu derrière */
}

.feature-card:hover .inner-circle {
  color: #FFBA00; /* ou utiliser une classe comme 'text-goldyellow' */
  border-color: #FFBA00; /* ou utiliser une classe comme 'border-goldyellow' */
  background-color: rgba(255, 186, 0, 0.25); /* ou utiliser une classe comme 'bg-goldyellowhover' */
  box-shadow: 0px 0px 80px rgba(255, 184, 0, 0.4); /* ou utiliser une classe comme 'drop-shadow-glow' */
}


.tk-roc-grotesk-variable { font-family: "roc-grotesk-variable",sans-serif; }

.glowBox {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
}


@keyframes marquee {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
  }
  
  .marquee {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
  }
  
  .marquee-content {
	animation: marquee 20s linear infinite;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 70px;
  height: 36px;
  margin: -20px auto 0 auto;
  
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  
  
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
 border: 1px solid #FFBA00;
 border-radius: 9999px;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 13 */
#button-13 .knobs:before,
#button-13 .knobs:after,
#button-13 .knobs span {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius:  9999px;
  transition: 0.3s ease all;
}

#button-13 .knobs:before,
#button-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#button-13 .knobs:before {
  content: "ON";
  color: #FFBA00;
  font-weight: 700;
  left: 8px;
}

#button-13 .knobs:after {
  content: "OFF";
  font-weight: 700;
  right: 12px;
}

#button-13 .knobs span {
  width: 23px;
  height: 23px;
  left: 41px;
  top: 6px;
  
  background-color: #FFBA00;
  z-index: 2;
}

#button-13 .checkbox:checked + .knobs span {
  left: 7px;
  background-color: #989898;
}

#button-13 .checkbox:checked ~ .layer {
  
  border-color: #989898;
}

input[type="checkbox"] {
  appearance: none;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 25px;
  height: 25px;
  border: 1px solid #676767;
  border-radius: 4px;
  display: grid;
  place-content: center;
}



input[type="checkbox"]::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FFBA00;
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  
}

input[type="checkbox"]:checked {
  border: 1px solid #FFBA00;
  
}

input[type="checkbox"]:focus {
  width: 25px;
  height: 25px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cacher {
  display: none !important;
}